<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine"> 
    <title>Document</title>
    {% load static %}
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
    
</head>
<body>
  <div class="container-grid">

    <div id="header">
      <nav id="header-nav">
        <div id="company-logo-div">
          <img id="company-logo" src="{% static 'imgs/word-document-svg.svg' %}" alt="Word Style Corrector Logo">
        </div>
        <span id="company-name">Word Style Corrector</span>
        <ul id="nav-menu">
          <li>Accueil</li>
          <li>Se connecter</li>
          <li>A propos</li>
          <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
        </ul>
      </nav>
    </div>
  
    <div id="svg-path">
      
      <div class="custom-shape-divider-bottom-1659560348">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>

        <h2>Fonctionnalités</h2>
      </div>

  
    </div>
   
    <section id="section1">
      <div id="section1-img">
        <img src="{%static 'imgs/word-icon-section1.svg'%}">
      </div>
      
      <div id="section1-texte">
        <ul>
          <li>Créez un template de style</li>
          <li>Correction automatique des styles d'un document par rapport au template</li>
          <li>Possibilité de créer des classes</li>
          <li>Un espace personnalisé pour chaque étudiant</li>
          <li>Une simplicité d'utilisation</li>
          <li></li>
          <li></li>
        </ul>

      </div>
      

    </section>


    <div id="footer">dfsjlkjélk </div>
  </div>
</div>



    
</body>
</html>